# environment
.env

# vim
*.vim
*.sw?
tags*
tags.*

# Python
*.py[cod]
__pycache__/
**/__pycache__/
env/

# links
*.ln
*.pdf

# node
node_modules
dist

# yarn
yarn.lock

# tern
*tern-port

# compilers
lib

# haskell
.stack-work

# rust
target

# mac 
.DS_Store

